body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}



h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
}

button#recordButton {
    background-color: #4CAF50;
    color: white;
}

button#stopButton {
    background-color: #f44336;
    color: white;
}

audio {
    margin-top: 20px;
    width: 100%;
    outline: none;
}