/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to left, pink, #f5f5dc);
}

/* Header Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    background: linear-gradient(to right, pink, #f5f5dc);
}

.header-logo img {
    width: 150px;
    margin-right: 10px;
    border-radius: 50% !important;
}

.erss-logo img {
    width: 200px;
    margin-right: 10px;
}

h1,
h2 {
    margin: 0;
}

nav {
    background-color: #333;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
    font-size: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main Section */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.content {
    width: 60%;
    font-size: 20px;
}

.content h1 {
    color: #333;
}

.map {
    width: 35%;
}

.map img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

.footer-logos img {
    width: 80px;
    margin: 10px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
}


.content p {
    font-size: larger;
}